{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>language</title>
</head>
<body>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit();">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
            <option value="{{lang.0}}" {% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>{{lang.1}}</option>
            {% endfor %}
        </select>
        <button type="submit">تغییر زبان</button>
    </form>    
    
</body>
</html>